package {{packageName}};

import javax.annotation.processing.Generated;
import pro.komdosh.searchablerestentity.search.SearchController;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
* DTO for {@link {{entity}}}.
*/
@Generated(
value = "{{entityDtoClassNameWithPackage}}",
date = "{{date}}",
comments = "{{comment}}"
)
public class {{entityName}}Dto extends {{entity}} {
}
