package {{packageName}};

import javax.annotation.processing.Generated;

/**
* DTO for {@link {{entity}}}.
*/
@Generated(
value = "{{entityDtoClassNameWithPackage}}",
date = "{{date}}",
comments = "{{comment}}"
)
public class {{entityName}}Dto extends {{entity}} {
}
